.zone {
  min-height: 176px;

  /* Add other styling properties */
}

.player-zone-row, .shared-zone-row {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: var(--gap-standard);
}
.play-zone {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--gap-standard);
}
.bar-zone {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  overflow: auto;
  gap: var(--gap-standard);
}
.single-card-zone {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.zones {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button-container {
  margin-top: 5px;
}

.zone-card-list {
  height: 100%;
}

/* Container for the text and the zone */
.zone-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  position: relative; /* Allow absolute positioning of text */
}
.zone-container.highlight {
  background-color: var(--highlight); /* Highlight background color */
  border-radius: 4px; /* Rounded corners for the highlight */
}

/* Text positioning */
.zone-container.text-top {
  flex-direction: column; /* Stack text above the zone */
}

.zone-container.text-bottom {
  flex-direction: column-reverse; /* Stack text below the zone */
}

.zone-container.text-left {
  flex-direction: row; /* Text to the left of the zone */
}

.zone-container.text-right {
  flex-direction: row-reverse; /* Text to the right of the zone */
}

/* Text rotation */
.zone-text {
  font-size: 16px;
  width: 100px; /* Set a fixed width for the text */
  color: var(--foreground);;
  text-align: center;
  white-space: nowrap; /* Prevent text from wrapping */
}

.zone-text.rotate-normal {
  transform: rotate(0deg);
}

.zone-text.rotate-left {
  transform: rotate(-90deg);
}

.zone-text.rotate-right {
  transform: rotate(90deg);
}

.zone-text.rotate-reverse {
  transform: rotate(180deg);
}
